@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap");

* {
  font-family: "Noto Sans Thai", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.header {
  position: sticky;
  box-shadow: 0 4px 8px -2px gray;
}

.nav-item {
  margin: 0 20px;
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px -2px gray;
  z-index: 1;
}

.topNav {
  /* background-color: #f3f4f6; */
  background-color: #abad6a;
  padding: 3px 20px;
  color: white;
}

.hoverRemove:hover {
  background-color: red;
}

.mt-20 {
  margin-top: 20px;
}

@media (max-width: 1150px) {
  .headerMenu {
    display: none;
  }
  .webName {
    font-size: medium;
  }
  .menuIcon {
    position: static;
    display: flex;
    align-items: center;
  }
}

@media (min-width: 1150px) {
  .menuIcon {
    display: none;
  }
  .webName {
    font-size: large;
  }
  .headerMenu {
    display: flex;
  }
}

/* -----------------------------------------------dropZone--------------------------------------------- */

.dropzone {
  border: 2px dashed #ccc;
  padding: 2rem;
  text-align: center;
  cursor: pointer;
}

.dropzone p {
  margin-top: 1rem;
  font-size: 1rem;
}

.dropzone.highlight {
  border-color: #007bff;
}

/* --------------------------------------------modal------------------------------------------------ */

.vertical-center-modal {
  text-align: center;
  white-space: nowrap;
}

.vertical-center-modal:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0;
}

.vertical-center-modal .ant-modal {
  display: inline-block;
  vertical-align: middle;
  top: 0;
  text-align: left;
}

/* --------------------------------------------modal print------------------------------------------------ */

@media print {
  @page {
    margin-left: 0.5in;
    margin-right: 0.5in;
    margin-top: 0;
    margin-bottom: 0;
  }

  .image-on-print {
    display: none;
  }

  /* 
  .custom-table .ant-table-thead > tr > th,
  .custom-table .ant-table-tbody > tr > td {
    border: 1px solid #000;
  } */

  /* body {
    visibility: hidden;
    margin: 1.6cm;
  } */

  /* .printable-content { */
  /* visibility: visible;
    font-size: large;
    transform: scale(1.1); */
  /* transform-origin: top; */
  /* margin-top: 85px; */
  /* } */
}

/* --------------------------------------------create orderSlip and paymentVoucher page------------------------------------------------ */

.no-spin-button .ant-input-number-handler-wrap {
  display: none;
}

.centered-input-number {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --------------------------------------------card------------------------------------------------ */

/* .ant-card-cover img {
  object-fit: cover;
  object-position: 50% 50%;
  transition: transform 0.3s;
}

.ant-card:hover .ant-card-cover img {
  transform: scale(1.1);
} */

.box:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

/* --------------------------------------------card------------------------------------------------ */

.linkText {
  color: #ccc;
  font-size: 15px;
}

.linkText:hover {
  text-decoration: underline;
  color: white;
}

/* --------------------------------------------ol tag------------------------------------------------ */

ol {
  list-style-type: none;
  counter-reset: item;
}

ol li::before {
  content: counter(item) ") ";
  counter-increment: item;
}

ol li {
  margin: 10px 0 10px 0;
}

/* --------------------------------------------layout------------------------------------------------ */

.menuIcon-admin {
  margin: 43px 0 0 15px;
}

@media (max-width: 1000px) {
  .layout-admin-web {
    display: none;
  }

  .menuIcon-admin-out {
    display: none;
  }
}

@media (min-width: 1000px) {
  .menuIcon-admin {
    display: none;
  }
}

/* --------------------------------------------contents------------------------------------------------ */

.card {
  margin-top: 100px;
  margin-bottom: 150px;
  width: calc(450px * 1);
  height: calc(350px * 1);
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  transform: rotate(-30deg);
  position: relative;
  z-index: 1;
}
.card__left {
  background-color: rgba(230, 230, 230, 1);
  width: 50%;
  transform: rotate(-6deg) skew(-6deg, -6deg);
  margin-right: -3px;
  border: 1px solid rgba(20, 20, 20, 0.2);
}
.card__content {
  height: calc(100% - (95px * 1));
  width: auto;
  margin: calc(18px * 1);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.card__content__icon {
  display: flex;
  height: 64px;
  width: 64px;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.card__content div {
  align-self: center;
  margin-top: 8px;
}
.card__right {
  background-color: rgba(230, 230, 230, 1);
  background-image: url(https://cdn1.designhill.com/uploads/pagefile/1541507080-14850242055be188084ba336-15014674.svg?ver=2.10.37);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  transform: rotate(6deg) skew(6deg, 6deg);
  margin-left: -3px;
  color: #202020;
  border: 1px solid rgba(20, 20, 20, 0.3);
}
.card::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 5px;
  right: calc(210px * 1);
  height: calc(130px * 1);
  width: calc(130px * 1);
  transform: rotate(45deg) skew(-32deg, -32deg);
  z-index: -1;
  box-shadow: calc(180px * 1) calc(180px * 1) calc(30px * 1) calc(45px * 1)
    rgba(0, 0, 0, 0.8);
}

.center-text {
  text-align: center;
}
.align-top {
  position: absolute;
  top: 48px;
  left: 48px;
}

/* --------------------------------------------card content home page------------------------------------------------ */

.card-content-home {
  width: 190px;
  /* height: 100px; */
  padding: 0.5rem;
  background: rgb(255, 255, 255);
  border-radius: 8px;
  backdrop-filter: blur(5px);
  border-bottom: 3px solid rgba(255, 255, 255, 0.44);
  border-left: 2px rgba(255, 255, 255, 0.545) outset;
  box-shadow: -10px 35px 30px rgba(0, 0, 0, 0.28);
  /* box-shadow: -40px 50px 30px rgba(0, 0, 0, 0.28); */
  /* transform: skewX(10deg); */
  transition: 0.4s;
  overflow: hidden;
  color: white;
}

/* .card-content-home:hover {
  height: 254px;
  transform: skew(0deg);
} */

.align-content-home {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-self: flex-start;
}

.red-content-home {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ff605c;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.28);
}

.yellow-content-home {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffbd44;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.28);
}

.green-content-home {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #00ca4e;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.28);
}

.card-content-home h2,
p {
  text-align: center;
  margin: 1.3rem;
  color: rgb(0, 0, 0);
  /* text-shadow: -10px 5px 10px rgba(0, 0, 0, 0.573); */
}

/* --------------------------------------------card stack hover content home page------------------------------------------------ */

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .glass {
  position: relative;
  width: auto;
  height: 200px;
  /* background: linear-gradient(#fff2, transparent); */
  border: 1px solid rgba(255, 255, 255, 0.1);
  /* box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25); */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 10px;
  margin: 0 -45px;
  /* backdrop-filter: blur(10px); */
  /* transform: rotate(calc(var(--r) * 1deg)); */
}

.container:hover .glass {
  transform: rotate(0deg);
  margin: 0 10px;
}

.container .glass::before {
  content: attr(data-text);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: rgba(255, 255, 255, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.container .glass svg {
  font-size: 2.5em;
  fill: #fff;
}

/* --------------------------------------------preloading------------------------------------------------ */

/* .example {
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 30px 50px;
  margin: 20px 0;
} */

.preloading {
  position: fixed;
  z-index: 9999;
  height: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.preloading:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-radial-gradient(rgb(255, 255, 255), rgb(255, 253, 253));
}

/* --------------------------------------------card------------------------------------------------ */

/* .card {
  padding-bottom: 20px;
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
} */

/* --------------------------------------------background pink------------------------------------------------ */

/* :root {
  --surface-color: #fff;
  --curve: 40;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  background-color: #fef8f8;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 100%;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: 0.2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: 0.2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card__title {
  font-size: 1em;
  margin: 0 0 0.3em;
  color: #6a515e;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";
  font-size: 0.8em;
  color: #d7bdca;
}

.card__status {
  font-size: 0.8em;
  color: #d7bdca;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #d7bdca;
  font-family: "MockFlowFont";
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
} */
